@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}/* O exemplo acima é uma variavel em CSS3, irado não?! heheh*/

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);/*Variavel sendo usar*/
  font-family: Helvetica, sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 60%;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
form {
  width: 100%;
  
}

form label {
  width: 100%;
  padding: 5px;
  margin: auto;
}

@media(max-width: 360px){

  h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  li{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  form p {
    font-size: 16px;
  }

}


/*
Classes de error
*/

.error-txt {
  font-size: small;
  color: red;
}




